/********* nav bar **********/

.navbar-fixed-top{
	background-color: rgb(80,200,120);
}

.navbar-header .navbar-brand{
	color:#FFFFFF;
	font-weight: bold; 
	font-family: lato;
}

.navbar-default{
	border:0px;
}

.navbar-default .navbar-nav > li > a{
	color:white;
	font-size: 2em;
	font-weight: bold; 
	font-family: lato;	
}

.navbar-collapse {
	text-align: center;
}


/*CONTENT*/
.section_header{
	font-size: 3em;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

#intro{
	height:100%;
	text-align: center;
	background-color: rgb(32,194,249);
	padding: 40px; 

}

#name{
	font-size: 5em;
	font-weight: bold; 
	font-family: lato;
	color:#FFFFFF;	
}

#skill_intro{
	font-size: 3em;
	font-weight: bold; 
	font-family: lato;
	color:#FFFFFF;	
	
	
}

#about{
	height:100%;
	padding-top: 150px;
	text-align: center;
	font-weight: bold; 
	font-family: lato;
	background-color: rgb(255,153,0);
	padding-bottom: 50px;
}

#about_text{
	font-size: 1.5em;
}

#skills{
	height:100%;
	padding-top: 150px;
	text-align: center;
	font-weight: bold; 
	font-family: lato;
}

#contact{
	height:100%;
	padding-top: 150px;
	text-align: center;
	font-weight: bold; 
	font-family: lato;
}

#profile_img{
  margin-left: auto;
  margin-right: auto;
  border-radius: 200px;
  height: 315px;
  width: 348px;
}

span.glyphicon-music{
	font-size: 2.5em;
	padding: 25px;
}


@media(min-width:768px) {
	
	.navbar-header .navbar-brand{
		font-size: 2.5em;
	}
	.navbar-fixed-top{
		padding:25px 0px;
	}
	#intro{
		margin-top: 100px;
	}
	header .container {
	    padding-top: 50px;
	    padding-bottom: 100px;
	}
}

@media(max-width:768px){
	/*#profile_img{
		margin-top: 45px;
	}*/
	.navbar-header .navbar-brand{
		font-size: 1.75em;
	}
	#name{
		font-size: 3em;
	}
}
