/********* nav bar **********/
@media(min-width:768px) {
	.navbar-fixed-top{
		padding:25px 0px;
	}
}
.navbar-fixed-top{
	background-color: rgb(80,200,120);
}

.navbar-header .navbar-brand{
	color:#FFFFFF;
	font-size: 2.5em;
	font-weight: bold; 
	font-family: lato;
}

.navbar-default .navbar-nav > li > a{
	color:white;
	font-size: 2em;
	font-weight: bold; 
	font-family: lato;	
}

.navbar-collapse {
	text-align: center;
}

#test{
	height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
